      <div class="row">
        <div class="col-6">
          <button [routerLink]="['/employeeAdd']" class="btn btn-info">Hinzufügen</button>
        </div>
        <div class="col-6">
          <div class="input-group justify-content-end">
            <select [(ngModel)]="selectedQualification">
              <option>All</option>
              <option *ngFor="let q of qualifications" [ngValue]="q"> {{q.designation}}</option>
            </select>
            <button (click)="filterForQualification()"  class="btn btn-info" type="button">Search</button>
          </div>
        </div>
      </div>

      <div class="table-responsive mt-2">
        <table class="table table-light table-hover table-bordered text-black table-striped table-sortable">

          <thead class="">
          <tr>
            <th (click)="sortEmployees('id')" scope="col">
              ID
            </th>
            <th (click)="sortEmployees('firstname')" scope="col">
              Vorname
            </th>
            <th (click)="sortEmployees('lastname')"  scope="col">
              Nachname
            </th>
            <th (click)="sortEmployees('street')"  scope="col">
              Straße
            </th>
            <th (click)="sortEmployees('postcode')"  scope="col">
              Plz
            </th>
            <th (click)="sortEmployees('city')"  scope="col">
              Stadt
            </th>
            <th (click)="sortEmployees('phone')"  scope="col">
              Telefon
            </th>
            <th scope="col">

            </th>
          </tr>
          </thead>
          <tbody>
          <tr
            *ngFor="let employee of shownEmployees"
            [id]="employee.id"
            (click)="showEmployeeDetails(employee.id)"
            [routerLink]="['/employeeDetails']"

          >
            <th scope="row">
              {{employee.id}}
            </th>
            <td>
              {{employee.firstName}}
            </td>
            <td>
              {{employee.lastName}}
            </td>
            <td>
              {{employee.street}}
            </td>
            <td>
              {{employee.postcode}}
            </td>
            <td>
              {{employee.city}}
            </td>
            <td>
              {{employee.phone}}
            </td>
            <td class="text-center">
              <a>
                <fa-icon style="cursor: pointer" [icon]="faTrashCan" (click)="deleteEmployee($event, employee.id)"></fa-icon>
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>




