      <div class="row">
        <div class="col-6">
          <button [routerLink]="['/employeeAdd']" class="btn btn-info">Hinzufügen</button>
        </div>
        <div class="col-6">
          <div class="input-group justify-content-end">
            <select [(ngModel)]="selectedQualification">
              <option>All</option>
              <option *ngFor="let q of qualifications" [ngValue]="q"> {{q.designation}}</option>
            </select>
            <button (click)="filterForQualification()"  class="btn btn-info" type="button">Search</button>
          </div>
        </div>
      </div>

      <div class="table-responsive mt-2">
        <table class="table table-dark table-hover text-info">

          <thead class="">
          <tr>
            <th scope="col">
              ID
            </th>
            <th scope="col">
              Vorname
            </th>
            <th scope="col">
              Nachname
            </th>
            <th scope="col">
              Straße
            </th>
            <th scope="col">
              Plz
            </th>
            <th scope="col">
              Stadt
            </th>
            <th scope="col">
              Telefon
            </th>
            <th scope="col">
              Löschen
            </th>
          </tr>
          </thead>
          <tbody>
          <tr
            *ngFor="let employee of shownEmployees"
            [id]="employee.id"
            (click)="showEmployeeDetails(employee.id)"
            [routerLink]="['/employeeDetails']"

          >
            <th scope="row">
              {{employee.id}}
            </th>
            <td>
              {{employee.firstName}}
            </td>
            <td>
              {{employee.lastName}}
            </td>
            <td>
              {{employee.street}}
            </td>
            <td>
              {{employee.postcode}}
            </td>
            <td>
              {{employee.city}}
            </td>
            <td>
              {{employee.phone}}
            </td>
            <td>
              <button (click)="deleteEmployee(employee.id)">Löschen</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>




