.center-div {
  margin-top: calc(100vh/2 -  9em);
}

.rounded-border {
  border-radius: 30px;
  border: none !important;
}

.square {
  width: 18em;
  height: 18em;
  margin-left: calc(50% - 9em);
}


.z-index {
  z-index: 10;
  position: relative;
}
