.center-div {
  margin-top: calc(100vh/2 -  10em);
  margin-left: calc(100vw/2 - 15.5em);
}

.rounded-border {
  border-radius: 30px;
  border: none !important;
}

.square {
  width: 20em;
  height: 20em;
}


.z-index {
  z-index: 10;
  position: relative;
}
