<div class="d-flex topbar bg-dark ">
  <div class="p-2 me-auto">
    <a class=" link-info">
      <fa-icon [icon]="faCoffee" size="4x"></fa-icon>
    </a>
  </div>
  <div class="p-2 align-self-center topbar-link">
      <label class="link-info topbar-text" [routerLink]="['']" >
        Mitarbeiterliste
      </label>

  </div>
  <div class="p-2 align-self-center topbar-link">

      <label class="link-info topbar-text" [routerLink]="['qualification']" >
        Qualifikationen
      </label>

  </div>
</div>
