.logo {
  color: white;
}

.topbar {
  height: 5em;
}

.topbar-navigation {
  font-size: 30px;
}

.topbar-link {
  height: 60%;
  border-radius: 10px;
}

.topbar-button {
  position: absolute;
  margin-top: 0.55em;
}

.topbar-link:hover {
  background-color: gray;
}

.topbar-text {
  padding-top: 5%;
}

.nav-selected {
  background-color: #2D5561;
}

.nav-selected :first-child{
  color: white;
}
