<div class="row">

  <div class="col-6">
    <div class="input-group">
      <input placeholder="Search.." id="searchBar" (change)="refreshSearch()"  [(ngModel)]="searchParameter" type="text" class="form-control">
    </div>
  </div>

  <div class="col-6">
    <div class="input-group">
      <input placeholder="New Qualification..." id="newQualification" [(ngModel)]="qualification.designation" type="text" class="form-control">
      <button (click)="newQualification()" class="btn btn-info" type="button">New</button>
    </div>
  </div>




  <div class="col-12 mt-2" >
    <table class="table table-light table-hover text-black table-bordered table-striped table-fixed" >
      <thead>
      <tr>
        <th>
          Qualifikationen
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let q of shownQualifications">
        <td style="width: 95%;">{{q.designation}}</td>
        <td class="text-center">
          <a>
            <fa-icon style="cursor: pointer" [icon]="faTrashCan" (click)="deleteQualification(q)"></fa-icon>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


